.Rproj.user
.Rhistory
.RData
.Ruserdata
Assignment 2_Chanya Kitprapa_34684824_files/
Assignment 2_Chanya Kitprapa_34684824.html
Assignment 2_Chanya Kitprapa_34684824.qmd
Assignment 2_Chanya Kitprapa_34684824.quarto_ipynb
example_files/
example.html
images/